<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller/main.js"></script>
</head>
<body ng-app="starter" class="app">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title" style="font-size: 1em">Daily Horoscope</h1>
        </ion-header-bar>
        <ion-content ng-controller="dailyController">
            <div>
                <span>Please Select your Zodiac</span>
            </div>
            <div ng-repeat="zodiac in sodiac">
                <div ng-if="($index) % 3 == 0" class="row">
                    <div class="col col-33" style="text-align: center">
                        <button class="button"  > 
                            <div>
                                <div style="text-align: center">
                                    <img src="./img{{sodiac[$index].image}}" width="60%" />
                                </div>
                                <div style="text-align: center">
                                    <span>{{sodiac[$index].name}}</span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col col-33">
                        <a href="#">
                            <div>
                                <div style="text-align: center">
                                    <img src="./img{{sodiac[$index+1].image}}" width="60%" />
                                </div>
                                <div style="text-align: center">
                                    <span>{{sodiac[$index+1].name}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="#">
                            <div>
                                <div style="text-align: center">
                                    <img src="./img{{sodiac[$index+2].image}}" width="60%" />
                                </div>
                                <div style="text-align: center">
                                    <span>{{sodiac[$index+2].name}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</body>

</html>
